contrib/wsdl/W5Ping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:s="http://www.w3.org/2001/XMLSchema" 
 xmlns:s0="http://w5base.net/interface/SOAP"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
 targetNamespace="http://w5base.net/interface/SOAP"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
 <types>
  <s:schema elementFormDefault="qualified"
   targetNamespace="http://w5base.net/interface/SOAP">
   <s:element name="Ping">
    <s:complexType>
     <s:sequence>
      <s:element minOccurs="1" maxOccurs="1"
       name="lang" type="s:string" />
     </s:sequence>
    </s:complexType>
   </s:element>

   <s:element name="PingResponse">
    <s:complexType>
     <s:sequence>
      <s:element minOccurs="0" maxOccurs="1"
       name="exitcode" type="s:string" />
     </s:sequence>
    </s:complexType>
   </s:element>


   </s:schema>
 </types>

 <message name="sayHelloSoapIn">
  <part name="parameters" element="s0:Ping" />
 </message>

 <message name="sayHelloSoapOut">
  <part name="parameters" element="s0:PingResponse" />
 </message>

 <portType name="Service1Soap">
  <operation name="Ping">
   <input message="s0:sayHelloSoapIn" />

   <output message="s0:sayHelloSoapOut" />
  </operation>
 </portType>

 <binding name="Service1Soap" type="s0:Service1Soap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
   style="document" />

  <operation name="Ping">
   <soap:operation soapAction="http://w5base.net/interface/SOAP#Ping"
    style="document" />

   <input>
    <soap:body use="literal" />
   </input>

   <output>
    <soap:body use="literal" />
   </output>
  </operation>
 </binding>

 <service name="HelloWorld">
  <port name="HelloWorldSoap" binding="s0:Service1Soap">
   <soap:address
    location="http://w8n00378.bmbg01.telekom.de/w5base2/auth/base/interface/SOAP" />
  </port>
 </service>
</definitions>

